<ol class="microposts">
<% @tweets.each do |t| %>
	<li>
		<span class="content">
		<% urls = t.attrs[:entities][:urls] %>	
		<% urls = urls.concat(t.attrs[:entities][:media]) if t.attrs[:entities][:media] %>
		<% t.text.chars.each_with_index do |c, i|  %>
<% url_found = false %>
<% urls.each do |url| %>
<% if url[:indices][0] == i  %>
<a href="<%= url[:expanded_url] %>" target="_blank"><%= url[:display_url]  %></a> 
<% end %>
<% if i >= url[:indices][0] && i <= url[:indices][1]  %>
<% url_found = true %>
<% end %>
<% end %>
<%= c unless url_found %><% end %>
		</span>
		<span class="timestamp">
			<%= t('views.tweets.index.posted') %>  <%= time_ago_in_words(t.created_at) %><%= t 'views.tweets.index.ago' %>.
		</span>
	</li>

	<%#= t.inspect %>	

<% end %>
</ol>
<% if @max_id  %>
	<%= link_to t('views.tweets.index.newer'), tweets_path(since_id: @max_id) %>
<% end %>
<% if @min_id  %>
	<%= link_to t('views.tweets.index.older'), tweets_path(max_id: @min_id) %>
<% end %>
