<h1>Listing admin_matches</h1>

<table>
  <thead>
    <tr>
      <th>English Name</th>
      <th>中文名</th>
      <th><%= t 'activerecord.attributes.admin/match.ordinal'  %></th>
      <th><%= t 'activerecord.attributes.admin/match.grand_slam'  %></th>
      <th><%= t 'views.match.videos'  %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_matches.each do |admin_match| %>
      <tr>
        <td><%= admin_match.name('en') %></td>
        <td><%= admin_match.name('zh-CN') %></td>
        <td><%= admin_match.ordinal %></td>
        <td><%= admin_match.grand_slam%></td>
        <td><%= link_to admin_match.videos.count, videos_admin_match_path(admin_match) %></td>
        <td><%= link_to 'Show', admin_match %></td>
        <td><%= link_to 'Edit', edit_admin_match_path(admin_match) %></td>
        <td><%= link_to 'Destroy', admin_match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_admin_match_path %>
